* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes zoom {
    50% {transform: scale(1.1);}
}

.repo-container {
    width: 520px;
    height: auto;
    background: #cfdac8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 3px #080808;
    
}

.repo-container:hover {
    animation-name: zoom;
    animation-duration: 1s;
}

.repo-container a {
    display: inline-block;
    align-self: center;
    color: #000000;
}

.repo-container h3 {
    display: inline-block;
    align-self: center;
    padding: 10px;
}

.repo-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.repo-info h5 {
    padding: 5px;
}